.dropdown-menu {
  display: none;
  font-size: 0.875rem;
}

.dropdown-menu.active {
  display: unset;
}

.dropdown-menu img {
  margin-right: 0.875rem;
}

.dropdown-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
  padding-left: 1.375rem;
  gap: 1.25rem;
}

.dropdown-menu li {
  display: flex;
}

.dropdown-menu li:hover {
  color: var(--almost-black);
  transform: scale(1.1);
}

.close-button {
  margin-bottom: 2rem;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .dropdown-menu {
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 1.2rem 1.5rem;
    gap: 1.375rem;
    right: 0;
    top: 2rem;
    margin-top: 0rem;
  }

  .dropdown-menu ul {
    margin-top: 0;
    padding-left: 0;
  }

  .company-dropdown-menu {
    padding: 1.2rem 1rem;
  }

  .dropdown-menu ul {
    gap: 1rem;
  }
}
