.nav-container {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 4.5625rem;
  right: 0rem;
  top: 0;
  visibility: hidden;
  height: calc(100vh - 73px);
}

.nav-items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1rem;
  gap: 2rem;
}

.nav-items-container > li {
  position: relative;
}

.nav-items-container a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-items-container a:hover {
  color: var(--almost-black);
}

.main-nav-container {
  margin-bottom: 2.5rem;
  padding: 0.875rem 0.75rem;
  display: flex;
  flex-direction: column;
}

.auth-nav-container ul {
  align-items: center;
  gap: 1.25rem;
}

.auth-nav-container li:last-child {
  padding: 0.875rem 3.3125rem;
  border: 1px solid var(--almost-gray);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.auth-nav-container li:last-child:hover {
  border: 1px solid var(--almost-black);
}

.arrow-up {
  display: none;
}

@media screen and (min-width: 576px) {
  .auth-nav-container li:last-child {
    padding: 0.875rem 4.3125rem;
  }
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    height: 100vh;
    animation: togglemenu 0.5s ease forwards;
  }
}

.mobile-menu-modal {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-menu-modal.active {
  display: block;
}

@keyframes togglemenu {
  from {
    width: 0;
  }

  to {
    visibility: visible;
    width: 60%;
  }
}
