@import url("./Navbar/Navbar.css");
@import url("./Home/Home.css");

:root {
  --main-font: "Epilogue", sans-serif;
  --almost-white: hsl(0, 0%, 98%);
  --almost-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--almost-gray);
}
