body{
    padding: 25px 0px 92px 0px;
}

.introduction-container{
    display: flex;
    flex-direction: column-reverse;
}

.introduction{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.introduction-text-container h1{
    font-size: 30px;
    margin-bottom: 35px;
    color: var(--color-almost-black);
}

.introduction-text-container p{
    font-size: 14px;
    line-height: 20px;
    color: var(--color-almost-gray);
    margin-bottom: 32px;
}

.introduction-button{
    height: 50px;
    width: 135px;
    border-radius: 14px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    color: var(--color-almost-white);
    background-color: var(--color-almost-black);
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

.introduction-button:hover{
    background-color: var(--color-almost-white);
    color: var(--color-almost-black);
    border: 1px solid var(--color-almost-black);
    
}

.clients-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-container img[name='databiz-logo']{
    width: 70px;
    height: 12px;
}
.clients-container img[name='audiophile-logo']{
    width: 50px;
    height: 20px;
}

.clients-container img[name='maker-logo']{
    width: 62px;
    height: 15px;
}

.clients-container img[name='meet-logo']{
    width: 60px;
    height: 12px;
}



.introduction-image img{
    width: 100%;
    margin-bottom: 55px;
}

@media screen and (min-width: 768px) 
{
    .introduction-container{
        flex-direction: row;
    }    
}