.snap-header {
  display: flex;
  align-items: center;
  padding: 1.3125rem 1.5rem;
  position: relative;
}

.logo {
  color: var(--almost-black);
  flex: 1;
  transition: all 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.nav-container {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  top: 4.5625rem;
  right: 0rem;
  top: 0;
  visibility: hidden;
  height: calc(100vh - 73px);
}

.nav-items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1rem;
  gap: 2rem;
}

.nav-items-container a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-items-container a:hover {
  color: var(--almost-black);
}

.main-nav-container {
  margin-bottom: 2.5rem;
  padding: 0.875rem 0.75rem;
}

.auth-nav-container ul {
  align-items: center;
  gap: 1.25rem;
}

.auth-nav-container li:last-child {
  padding: 0.875rem 3.3125rem;
  border: 1px solid var(--almost-gray);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.auth-nav-container li:last-child:hover {
  border: 1px solid var(--almost-black);
}

.arrow-up {
  display: none;
}

@media screen and (min-width: 576px) {
  .auth-nav-container li:last-child {
    padding: 0.875rem 4.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: unset;
    height: unset;
    visibility: visible;
    transition: unset;
  }

  .nav-items-container {
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
  }

  .main-nav-container {
    margin-bottom: 0rem;
    padding: 0rem;
  }

  .nav-buttons-container {
    display: none;
  }

  .auth-nav-container li:last-child {
    padding: 0.875rem 1.5rem;
  }

  .logo {
    flex: unset;
    margin-right: 2rem;
  }

  .company-dropdown-menu,
  .feature-dropdown-menu {
    position: absolute;
  }
}

@media screen and (min-width: 992px) {
  .snap-header {
    padding: 1.3125rem 2.5rem;
    margin-bottom: 1.25rem;
  }

  .logo {
    margin-right: 4rem;
  }

  .nav-items-container {
    font-size: 1.125rem;
    gap: 2.75rem;
  }
}

/**/

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    animation: togglemenu 0.5s ease forwards;
  }
}

.mobile-menu-modal {
  width: 100%;
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.company-dropdown-menu,
.feature-dropdown-menu {
  display: none;
}

@keyframes togglemenu {
  from {
    width: 0;
  }

  to {
    visibility: visible;
    width: 60%;
  }
}
