.snap-header {
  display: flex;
  padding: 1.3125rem 2.5rem;
}

.logo {
  color: var(--almost-black);
  margin-right: 4rem;
}

.nav-container {
  flex: 1;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.main-nav-container {
  display: flex;
}

.nav-items-container {
  flex: 1;
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.125rem;
  gap: 2.75rem;
}

.nav-items-container a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-items-container a:hover {
  color: var(--almost-black);
}

.auth-nav-container li:last-child {
  padding: 0.875rem 1.5rem;
  border: 1px solid var(--almost-gray);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.auth-nav-container li:last-child:hover {
  border: 1px solid var(--almost-black);
}
