.snap-header {
  display: flex;
  align-items: center;
  padding: 1.3125rem 1.5rem;
}

.logo {
  color: var(--almost-black);
  flex: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-nav-container,
.main-nav-container {
  display: none;
}

.nav-items-container {
  flex: 1;
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1rem;
  gap: 1.2rem;
}

.nav-items-container a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-items-container a:hover {
  color: var(--almost-black);
}

.auth-nav-container li:last-child {
  padding: 0.875rem 1.5rem;
  border: 1px solid var(--almost-gray);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.auth-nav-container li:last-child:hover {
  border: 1px solid var(--almost-black);
}

.arrow-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-container {
    flex: 1;
  }

  .nav-button {
    display: none;
  }

  .logo {
    flex: unset;
    margin-right: 2rem;
  }

  .auth-nav-container,
  .main-nav-container {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .snap-header {
    padding: 1.3125rem 2.5rem;
  }

  .logo {
    margin-right: 4rem;
  }

  .nav-items-container {
    font-size: 1.125rem;
    gap: 2.75rem;
  }
}
